{% extends "layout.html" %} {% block body %}

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/general">
                        <i class="pe-7s-user"></i>
                        <p>General</p>
                    </a>
                </li>
                <li>
                    <a href="/positioning">
                        <i class="pe-7s-note2"></i>
                        <p>Positioning</p>
                    </a>
                </li>
                <li>
                    <a href="/lighting">
                        <i class="pe-7s-news-paper"></i>
                        <p>Lighting</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/analyze">
                        <i class="pe-7s-science"></i>
                        <p>Analyze</p>
                    </a>
                </li>
                <li>
                    <a href="/image_filtering">
                        <i class="pe-7s-map-marker"></i>
                        <p>Image Filtering</p>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <i class="pe-7s-bell"></i>
                        <p>About</p>
                    </a>
                </li>
                <li>
                    <a href="/quiz">
                        <i class="pe-7s-bell"></i>
                        <p>Quiz</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">User</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <b class="caret hidden-sm hidden-xs"></b>
                                <span class="notification hidden-sm hidden-xs">5</span>
                                <p class="hidden-lg hidden-md">
                                    5 Notifications
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p>
                                    Dropdown
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">

                        <div class="card">
                            <div class="header">
                                <h3 class="title">Analyze</h3>
                                <p class="category">
                                    You can analyze your image with this histogram
                                </p>
                            </div>
                            <div class="content">
                              <div class="p-2 flex-fill bd-highlight">
                                <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                                  <button type="submit" class="btn btn-primary">Histogram</button>
                                </form>
                              </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Photo</h4>
                                <p class="category">This is your photo after processed</p>
                            </div>
                            <div class="content">
                                <p>Uploaded Photo</p>
                                <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}"
                                    alt="image here" style="max-width: 700px;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card" style="padding: 10px;">
                        <h2>Histogram</h2>

                        <br>

                        <div class="row">
                            {% if file_paths[2] %}
                            <div class="col-md-4 d-flex text-center">
                                <h3>Red Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}"
                                    alt="image here" style="max-width: 400px;">
                            </div>
                            <div class="col-md-4 d-flex text-center">
                                <h3>Green Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}"
                                    alt="image here" style="max-width: 400px;">
                            </div>
                            <div class="col-md-4 d-flex text-center">
                                <h3>Blue Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}"
                                    alt="image here" style="max-width: 400px;">
                            </div>
                            {% else %}
                            <div class="col d-flex text-center">
                                <h3>Black Histogram</h3>
                                <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}"
                                alt="image here" style="max-width: 600px;">
                            </div>
                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>
{% endblock %}