{% extends "layout.html" %} {% block body %}

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    
    
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Image Processing
                    </a>
                </div>
    
                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/general">
                            <i class="pe-7s-user"></i>
                            <p>General</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/positioning">
                            <i class="pe-7s-note2"></i>
                            <p>Positioning</p>
                        </a>
                    </li>
                    <li>
                        <a href="/lighting">
                            <i class="pe-7s-news-paper"></i>
                            <p>Contrast</p>
                        </a>
                    </li>
                    <li>
                        <a href="/analyze">
                            <i class="pe-7s-science"></i>
                            <p>Analyze</p>
                        </a>
                    </li>
                    <li>
                        <a href="/filter">
                            <i class="pe-7s-star"></i>
                            <p>Filter</p>
                        </a>
                    </li>
                    <li>
                        <a href="/about">
                            <i class="pe-7s-bell"></i>
                            <p>About</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="pe-7s-rocket"></i>
                            <p>Upgrade to PRO</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">User</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <span class="notification hidden-sm hidden-xs">5</span>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">

                        <div class="card">
                            <div class="header">
                                <h4 class="title">Positioning</h4>
                                <p class="category">
                                    You can position your image with these function
                                </p>
                            </div>
                            <div class="content">
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                                        <button type="submit" class="btn btn-primary">Geser Kiri</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data" style="margin-top:20px">
                                        <button type="submit" class="btn btn-primary">Geser Kanan</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data" style="margin-top:20px">
                                        <button type="submit" class="btn btn-primary">Geser Atas</button>
                                    </form>
                                </div>
                                <div class="p-2 flex-fill bd-highlight">
                                    <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data" style="margin-top:20px">
                                        <button type="submit" class="btn btn-primary">Geser Bawah</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Photo</h4>
                                <p class="category">This is your photo after processed</p>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col">
                                        <div class="container mt-4">
                                            <div class="row">
                                                <div class="content">
                                                    <h3>Original Image</h3>
                                                    <img class="img-fluid" src="{{ url_for('static', filename='img/img_normal.jpg') }}"
                                                        alt="image here" style="max-width: 700px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="container mt-4">
                                            <div class="row">
                                                <div class="content">
                                                    <h3>Processed Image</h3>
                                                    <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}"
                                                        alt="image here" style="max-width: 700px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</body>
{% endblock %}
